
<div class="clearfix mar_top13"></div>
<div class="container_full">
  <div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<li data-transition="fade" data-slotamount="7" data-masterspeed="800" >
					<%= image_tag ('cover1.png') %>
			    <div class="tp-caption customout sfr"
						data-x="735"
						data-y="80"
			      data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="900"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 3; margin-left: 80px;"><%= image_tag ('123.png') %>
					</div>
					<div class="tp-caption mediumlarge_light_white skewfromleft customout"
						data-x="0"
						data-y="175"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6"><b>Software</b>
			      Solutions
					</div>
					<div class="tp-caption large_bold_white customin ltl"
						data-x="0"
						data-y="246"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="1000"
						data-start="1800"
						data-easing="Back.easeInOut"
						data-endspeed="400"
						data-endeasing="Back.easeIn"
						style="z-index: 14">We provide end to end
					</div>
					<div class="tp-caption medium_light_white skewfromright customout"
						data-x="0"
						data-y="297"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="2700"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">Software Devlopment Services
					</div> 
					<div class="tp-caption customin ltl"
						data-x="0"
						data-y="370"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="1000"
						data-start="3000"
						data-easing="Back.easeInOut"
						data-endspeed="400"
						data-endeasing="Back.easeIn"
						style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
					</div>            
				</li>       
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="800" >
					<%= image_tag ('cover.png') %>
					<div class="tp-caption mediumlarge_light_white skewfromleft customout"
						data-x="735"
						data-y="80"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="900"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6"><%= image_tag ('slide.png') %>
					</div>
					<div class="tp-caption large_bold_white customin ltl"
						data-x="0"
						data-y="175"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="1000"
						data-start="1000"
						data-easing="Back.easeInOut"
						data-endspeed="400"
						data-endeasing="Back.easeIn"
						style="z-index: 14; color: white;">Experience With
					</div>
					<div class="tp-caption medium_light_white skewfromright customout"
						data-x="0"
						data-y="246"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6; color: white;"><b>Ruby On Rails</b>
					</div>
					<div class="tp-caption customin ltl"
						data-x="0"
						data-y="297"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="1000"
						data-start="2200"
						data-easing="Back.easeInOut"
						data-endspeed="400"
						data-endeasing="Back.easeIn"
						style="z-index: 16; color: white;">We hope that you enjoy it.
					</div>
					<div class="tp-caption customin ltl"
						data-x="0"
						data-y="370"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="1000"
						data-start="2300"
						data-easing="Back.easeInOut"
						data-endspeed="400"
						data-endeasing="Back.easeIn"
						style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
					</div>            
				</li>        
			</ul>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="aboutpage_section">
  <div class="joosa fusection1 container">
    <div class="one_fourth">
      <i class="fa fa-desktop fa-4x"></i>

      <div class="clearfix"></div>
      
      <h2>Front-end Development</h2>
      <p>We provide best solution as Client-Side / Front-end development using HTML5, CSS3 and JavaScript with fully Responsive Website development.</p>
    </div>
    <div class="one_fourth">
      <i class="fa fa-cog fa-4x"></i>

      <div class="clearfix"></div>
      
      <h2>Web & Web Application Development</h2>
      <p>Soft Dev Consultancy provides end-to-end Custom Web Application development which tailored exactly to the way your business works.</p>
    </div>
    <div class="one_fourth helight">
      <i class="fa fa-leaf fa-4x"></i>
      
      <div class="clearfix"></div>
      
      <h2>CMS & E-commerce Development</h2>
      <p>Soft Dev Consultancy provides excellent Content Management System & eCommerce Development services to create online web store </p>
    </div>
    <div class="one_fourth last">
      <i class="fa fa-umbrella fa-4x"></i>
      
      <div class="clearfix"></div>
      
      <h2>Software & Product Development</h2>
      <p>We offers you innovative and trustworthy Software & Product development solutions to complement your most complicated business ideas to World-Wide-Web.</p>
    </div>
  </div>

  <div class="clearfix mar_top7"></div>
  <div class="clearfix"></div>
  
  <div class="our_team">
    <div class="container">
      <h1>
        EFFECTIVE
        <strong>Team</strong>
        <br/>
        <i style="color: white;">Will uncover many web sites still in their infancy passages more recently</i>
      </h1>
      <div class="one_fifth">
        <%= image_tag ('team/team-1.png') %>
        <h4>
          Devendra Chauhan
          <br/>
          <em style="color: #404040;">- Founder</em>
        </h4>
        <ul class="people_soci">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>

        <div class="clearfix mar_top2"></div>
        
        <p>13+ years of experience in IT industry.</p>
      </div>
      <div class="one_fifth">
        <%= image_tag ('team/team-2.png') %>
        <h4>
          Bipin Patel
          <br/>
          <em style="color: #404040;">- Sr. Ruby On Rails Devloper</em>
        </h4>
        <ul class="people_soci">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>

        <div class="clearfix mar_top2"></div>
        
        <p>6+ years of experience in Software & Product Development, key features are challange new technologies.</p>
      </div>     
      <div class="one_fifth">
        <%= image_tag ('team/team-3.png') %>
        <h4>
          Gagan Gami
          <br/>
          <em style="color: #404040;">- Jr. Ruby On Rails Devloper</em>
        </h4>
        <ul class="people_soci">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>

        <div class="clearfix mar_top2"></div>
        
        <p>3 years of experience in Web Application development. Sound knowledge in Ruby, AngularJS and Bootstrap.</p>
      </div>
      <div class="one_fifth">
        <%= image_tag ('team/team-4.jpg') %>
        <h4>
          Ajay Parihar
          <br/>
          <em style="color: #404040;">- Jr. Ruby On Rails Devloper</em>
        </h4>
        <ul class="people_soci">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>

        <div class="clearfix mar_top2"></div>
        
        <p>2 year experience in Web Application & Front-end development with Ruby On Rails, HTML5/CSS3.</p>
      </div>
      <div class="one_fifth last">
        <%= image_tag ('team/team-5.png') %>
        <h4>
          Gyandipsinh Chauhan
          <br/>
          <em style="color: #404040;">- Jr. Ruby On Rails Devloper</em>
        </h4>
        <ul class="people_soci">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>

        <div class="clearfix mar_top2"></div>
        
        <p>1 year experience in Web Application & Front-end development with Ruby On Rails, HTML5/CSS3.</p>
      </div>
    </div>
  </div> 
</div>

<div class="clearfix"></div>
<div class="clearfix mar_top3"></div>

<div class="servicespage_section">
  <div class="joosa fusection1 container">
    <h1>
      Our
      <strong>Services</strong>
      <br/>
      <i>Pheets containing Ipsum passages and more recently with publishing software.</i>
    </h1>
    <div class="left">
      <div class="clearfix mar_top3"></div>
      <i class="fa fa-desktop fa-4x"></i>
      <h3>Web Design</h3>
      <p></p>
    </div>
    <div class="center">
      <div class="clearfix mar_top3"></div>
      <i class="fa fa-coffee fa-4x"></i>
      <h3>smart & flexibled well structured code</h3>
      <p>Generators on the Internet tend the repeated chunks necessary making this the true many web sites on internet.</p>
    </div>
    <div class="right">
      <div class="clearfix mar_top3"></div>
      <i class="fa fa-leaf fa-4x"></i>
      <h3>Web Devlopement</h3>
      <p></p>
    </div>   
  </div>

  <div class="clearfix mar_top7"></div>

  <div class="services_slider_sec">
    <div class="container">
      <div class = 'fluidHeight'>
        <div class = 'sliderContainer'>
          <div class = 'iosSlider'>
            <div class = 'slider'>
              <div class = 'item item1'>
                <div class = 'inner'>
                  <div class="slide_one">
                    <div class="left">
                      <img src="images/siteimg-002.png" alt="" />
                    </div>
                    <div class="right">
                      <h3>Airem Ipsum on the Internet</h3>
                        <h2>Generators on the Internet</h2>
                        <p>All the Lorem Ipsum generators on the Internet tentos repeat predefined chunks as necessary making the combined with a handful combined with is therefore always.</p>                
                        <ul>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>    
                        </ul>
                        <ul>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>
                          <li><i class="fa fa-check"></i> Repeat predefined chunks as necessary</li>    
                        </ul>
                      </div>
                    </div>              
                  </div>
                </div>
                <div class = 'item item2'>
                  <div class = 'inner'>
                    <div class="slide_two">
                      <div class="one_half left">
                        <img src="images/siteimg4.png" alt="" />
                      </div>
                      <div class="one_half last">
                        <ul>
                          <li>
                            <div class="icon"><i class="fa fa-coffee fa-2x"></i></div>
                            <h2>Responsive Design</h2>
                            <p>Lorem ipsum dolor feugiat delicata liberavisse maiorum assum omnium conceptam.</p>
                            </li>
                          <li>
                            <div class="icon"><i class="fa fa-globe fa-2x"></i></div>
                            <h2>Best customization</h2>
                            <p>Lorem ipsum dolor feugiat delicata liberavisse maiorum assum omnium conceptam.</p>
                          </li>
                          <li>
                            <div class="icon"><i class="fa fa-mobile-phone fa-2x"></i></div>
                            <h2>Mobile Friendly</h2>
                            <p>Lorem ipsum dolor feugiat delicata liberavisse maiorum assum omnium conceptam.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class ='item item3'>
                  <div class ='inner'>
                    <div class="slide_three">
                      <div class="one_half left">
                        <img src="images/siteimg3.png" alt="" />
                      </div>
                      <div class="one_half last">
                        <h3>Airem Ipsum on the Internet</h3>
                          <h2>Generators on the Internet</h2>
                          <p>All the Lorem Ipsum generators on the Internet tentos repeat predefined chunks as necessary making the combined with a handful is always.</p>  
                          <ul>
                            <li><i class="fa fa-check"></i> Lorem predefined chunks as Ipsum generators necessary</li>
                            <li><i class="fa fa-check"></i> Lorem predefined chunks as Ipsum generators necessary</li>
                            <li><i class="fa fa-check"></i> Lorem predefined chunks as Ipsum generators necessary</li>
                            <li><i class="fa fa-check"></i> Lorem predefined chunks as Ipsum generators necessary</li>    
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'item item4'>
                  <div class = 'inner'>
                    <div class="slide_four">
                      <div class="one_fourth"><img src="images/layout-img01.jpg" alt="" /></div>
                      <div class="one_fourth"><img src="images/layout-img02.jpg" alt="" /></div>
                      <div class="one_fourth"><img src="images/layout-img03.jpg" alt="" /></div>
                      <div class="one_fourth last"><img src="images/layout-img04.jpg" alt="" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class = 'slideSelectors'>
              <div class="container">
                <div class = 'item selected'>
                  <ul class="iosslider-item-list">
                    <li>product display 1</li>
                  </ul>
                </div>
                <div class = 'item'>
                  <ul class="iosslider-item-list">
                    <li>product display 2</li>
                  </ul>
                </div>
                <div class = 'item'>
                  <ul class="iosslider-item-list">
                    <li>product display 3</li>
                  </ul>
                </div>
                <div class = 'item'>
                  <ul class="iosslider-item-list last">
                    <li>5 diffrent Websites</li>
                  </ul>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>

<div class="clearfix"></div>

<div id="portfolio">
  <div class="portfoliopage_section">
    <div class="container">
      <div class="portfolio_page">
        <h1>
          Recent
          <strong>Projects</strong>
          <br/>
          <i>Printer took a galley scrambled it to make book has survived five centuries</i>
        </h1>
        <div class="portfolioFilter">
          <a class="current" data-filter="*" href="#">All</a>
          <% @technologies.each do |technology| %>
            <a href="#" data-filter=".<%= technology.title.gsub(' ', '-').downcase %>">
              <%= technology.title %>
            </a>
          <% end %>
        </div>

        <div class="clearfix mar_top5"></div>
        
        <div class="portfolioContainer">
          <% @portfolios.each do |portfolio| %>
            <div class="<%= portfolio.technologies.map{|p| p.title.gsub(' ', '-')}.join(' ').downcase%>">
              <a class="fancybox" data-fancybox-group="gallery" href="<%= portfolio.cover_photo %>" title="<%= portfolio.title %>">
                <div class="imgWrap">
                  <%= image_tag(portfolio.cover_photo)%>
                  <p class="imgDescription">
                    <i class="fa fa-search fa-4x"></i>
                  </p>
                  <h3><%= portfolio.title %></h3>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="clearfix mar_top6"></div>

  </div>
</div>

<div class="clearfix"></div>

<div id="contact">
  <div class="contactpage_section">
    <div class="twitter_feeds">
      <div class="container">
        <div class="faide_slider">
          <div id="slider">
            <% @testimonials.each_with_index do |x, index| %>
              <div class="temp" id="slide<%= index + 1 %>">
                <%= image_tag ('999.png') %>
                <br/>
                <strong>
                  Tweet from
                  <a href="https://twitter.com/gsrthemes9" target="_blank">
                    <%= x.name %>
                  </a>
                </strong>
                <br/>
                <%= x.comment %>
                <br/>
              </div>
            <% end %>
          </div>
          <div class="clearfix mar_top3"></div>
          <ul class="controlls">
            <% @testimonials.each_with_index do |x, index| %>
              <li>
                <a class="slide<%= index + 1 %>" href="#"></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="bg_parralax" data-speed="10" data-type="background" id="parallax_02">
      <div class="clients">
        <div class="container">
          <h1>
            Our
            <strong>Clients</strong>
            <br/>
            <i>Pheets containing passages and more software.</i>
          </h1>
          <ul class="jcarousel-skin-tango" id="mycarouselthree">
            <li>
              <%= image_tag ("theme/client-logo1.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo2.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo3.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo4.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo5.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo6.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo7.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo8.png") %>
            </li>
            <li>
              <%= image_tag ("theme/client-logo9.png") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
    <div class="contact_info">
      <div class="container">
        <div class="one_half">
          <h1>
            Get in Touch With Us
            <i>If you prefer to contact us, just direct message or contact info below.</i>
          </h1>
          <div class="clearfix"></div>
          <div class="one_full">
            <div class="one_half">
              <ul class="address">
                <li>
                  <i class="fa fa-map-marker fa-lg"></i>
                  B-9, Chitrakut Society, Nr. Rajod Talav, Gamadi Road, Anand – 388001, Gujarat, India
                </li>
                <li class="last">
                  <i class="fa fa-envelope"></i>
                  <a href="davejc99@gmail.com">davejc99@gmail.com</a>
                </li>
                <li>
                  <i class="fa fa-phone">
                    +91-97235 16289
                  </i>
                </li>
              </ul>
            </div>
            <div class="one_half last">
              <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.695569789724!2d72.97737631495919!3d22.553073985192846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cb99aa1f12dfa20!2sDaevon+Web!5e0!3m2!1sen!2sin!4v1513331794219" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="clearfix mar_top8"></div>
            <ul class="footer_social_links">
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                  Facebook
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                  Twitter
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                  Google +
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                  Linkedin
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-skype"></i>
                  Skype  
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="one_half last">
          <h1>
            Stay Connected!
          </h1>
          <div id="contactform">
            <%= render 'home/contact_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<a href="#" class="scrollup">Scroll</a>

<script>  
  $(window).load(function(){
    var $container = $('.portfolioContainer');
    $container.isotope({
      filter: '*',
      animationOptions: {
        duration: 750,
        easing: 'linear',
        queue: false
      }
    });
   
    $('.portfolioFilter a').click(function(){
      $('.portfolioFilter .current').removeClass('current');
      $(this).addClass('current');
      var selector = $(this).attr('data-filter');
      $container.isotope({
        filter: selector,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false
        }
      });
      return false;
    }); 
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.scrollup').fadeIn();
      } else {
        $('.scrollup').fadeOut();
      }
    });
    $('.scrollup').click(function(){
      $("html, body").animate({ scrollTop: 0 }, 500);
      return false;
    });
  });
</script>
<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
</script>
<script type="text/javascript">
	var revapi;
	jQuery(document).ready(function() {
    revapi = jQuery('.tp-banner').revolution({
  		delay:9000,
  		startwidth:1170,
  		startheight:500,
  		hideThumbs:10,
  		fullWidth:"on",
  		forceFullWidth:"on"
	  });
	});
</script>
<script type="application/javascript">
  (function() {
    var quotes = $(".quotes");
    var quoteIndex = -1;
    function showNextQuote() {
      ++quoteIndex;
      quotes.eq(quoteIndex % quotes.length).fadeIn(1000).delay(4000).fadeOut(1000, showNextQuote);
    }
    showNextQuote();
  })();
</script>
<script type="application/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox();
    $(document).ready(function() {
      $('.fancybox-media').fancybox({
        openEffect  : 'none',
        closeEffect : 'none',
        helpers : {
          media : {}
        }
      });
    });
  });
</script>
<script type="text/javascript">
  $(window).load(function(){
    $(".controlls li a").click(function(e) {
      e.preventDefault();
      var id = $(this).attr('class');
      $('#slider div:visible').fadeOut(500, function() {
        $('div#' + id).fadeIn();
      })
    });
  });
</script>