<div class="page_title">
    <div class="container">
        <div class="title"><h1>About Page</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> About Page</div>
    </div>
</div><!-- end page title --> 

<div class="clearfix"></div>
<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">
    
        <h2>Case <strong>Study</strong></h2>
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('projects/repoapp.jpg') %></a>
            <div class="title">RepoApp - SaaS Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Loptop packages"><%= image_tag ('projects/hoosbaa.jpg') %></a>
            <div class="title">Hoosbaa - Real Estate Software</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Desktop packages"><%= image_tag ('projects/harrys_pizza.jpg') %></a>
            <div class="title">Harry's Pizza - PoS System</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth last">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Prity alteration"><%= image_tag ('projects/alfawaz_investment.jpg') %></a>
            <div class="title">Alfawaz Investment - Company Portfolio Website</div>
            </div> 
        </div><!-- end section -->
        
        <div class="clearfix"></div>

        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('projects/poshgate.jpg') %></a>
            <div class="title">Poshgate - Audio/Video eCommerce Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Loptop packages"><%= image_tag ('projects/800flowers.jpg') %></a>
            <div class="title">800Flowers - Solidus eCommerce Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Desktop packages"><%= image_tag ('projects/shyne.jpg') %></a>
            <div class="title">Shyne - Call Booking System for Advisor</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth last">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Prity alteration"><%= image_tag ('projects/vivento.jpg') %></a>
            <div class="title">Vivento - Event Ticketing Application</div>
            </div> 
        </div>

        <div class="clearfix"></div>

        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('projects/schoopon.jpg') %></a>
            <div class="title">Schoopon - School Inventory Sell Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Loptop packages"><%= image_tag ('projects/jiejie_store.jpg') %></a>
            <div class="title">JieJie Store - eCommerce Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Desktop packages"><%= image_tag ('projects/wordmode.jpg') %></a>
            <div class="title">Word Mode Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth last">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Prity alteration"><%= image_tag ('projects/careascend.jpg') %></a>
            <div class="title">Company Employee Management Application</div>
            </div> 
        </div>
        
        <div class="clearfix"></div>

        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('projects/emproud.jpg') %></a>
            <div class="title">Employee Medical Compliance Application</div>
            </div>
        </div><!-- end section -->
        
        <div class="one_fourth">
            <div class="portfolio_image">
            <i class="fa fa-search fa-2x"></i>
            <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Loptop packages"><%= image_tag ('projects/lovefa.jpg') %></a>
            <div class="title">Lovefa Application</div>
            </div>
        </div><!-- end section -->
        <div class="mar_top5"></div>
    </div>
</div><!-- end content area -->


<div class="clearfix mar_top5"></div>
