<div class="page_title">
    <div class="container">
        <div class="title"><h1>About Page</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> About Page</div>
    </div>
</div><!-- end page title --> 

<div class="clearfix"></div>
<!-- Contant
======================================= -->

<div class="container">
  <div class="content_fullwidth">
    <div class="our_team_box">
      <h2>Our <strong>Team</strong></h2>

      <div class="one_fifth">
        <div class="cont-area">
          <%= image_tag ('team/team-1.png') %>
          <ul>
              <li><strong>Devendra Chauhan<i> <br /> Founder</i></strong></li>
              <!-- <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li> -->
          </ul>
        </div>
        <p>13+ years of experience in IT industry.</p>
      </div>
      
      <div class="one_fifth">
        <div class="cont-area">
          <%= image_tag ('team/team-2.png') %>
          <ul>
              <li><strong>Bipin Patel<i> <br /> Sr. Ruby On Rails Devloper</i></strong></li>
              <!-- <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li> -->
          </ul>
        </div>
        <p>6+ years of experience in Software & Product Development, key features are challange new technologies.</p>
      </div>   
      
      <div class="one_fifth">
        <div class="cont-area">
          <%= image_tag ('team/team-3.png') %>
            <ul>
                <li><strong>Gagan Gami<i> <br /> Jr. Ruby On Rails Devloper</i></strong></li>
                <!-- <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li> -->
            </ul>
        </div>
        <p>3+ years of experience in Web Application development. Sound knowledge in Ruby, AngularJS and Bootstrap.</p>
      </div>        

      <div class="one_fifth">
        <div class="cont-area">
          <%= image_tag ('team/team-4.png') %>
          <ul>
              <li><strong>Ajay Parihar<i> <br /> Jr. Ruby On Rails Devloper</i></strong></li>
              <!-- <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li> -->
          </ul>
        </div>
        <p>2+ year experience in Web Application & Front-end development with Ruby On Rails, HTML5/CSS3.</p>
      </div>

      <div class="one_fifth last">
        <div class="cont-area">
          <%= image_tag ('team/team-5.png') %>
          <ul>
              <li><strong>Gyandipsinh Chauhan<i> <br /> Jr. Ruby On Rails Devloper</i></strong></li>
              <!-- <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li> -->
          </ul>
        </div>
        <p>1+ year experience in Web Application & Front-end development with Ruby On Rails, HTML5/CSS3.</p>
      </div>            
    </div><!-- end our team -->
  </div>
</div><!-- end content area -->
