<div class="page_title">
    <div class="container">
        <div class="title"><h1>About Page</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> About Page</div>
    </div>
</div><!-- end page title --> 

<div class="clearfix"></div>
<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">
      <h2>Our <strong>Team</strong></h2>
        
      <div class="one_fifth">
        <div class="team_image">
          <i class="fa fa-search fa-2x"></i>
          <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('team/team-1.png') %></a>
          <div class="title">Devendra Chauhan<br/><em>- Founder</em></div>
          <div class="sub_title">13+ years of experience in IT industry.</div>
        </div>
      </div>
      <div class="one_fifth">
        <div class="team_image">
          <i class="fa fa-search fa-2x"></i>
          <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('team/team-2.png') %></a>
          <div class="title">Bipin Patel<br/><em>- Sr. Ruby On Rails Devloper</em></div>
          <div class="sub_title">6+ years of experience in Software & Product Development, key features are challange new technologies.</div>
        </div>
      </div>
      <div class="one_fifth">
        <div class="team_image">
          <i class="fa fa-search fa-2x"></i>
          <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('team/team-3.png') %></a>
          <div class="title">Gagan Gami<br/><em>- Jr. Ruby On Rails Devloper</em></div>
          <div class="sub_title">3 years of experience in Web Application development. Sound knowledge in Ruby, AngularJS and Bootstrap.</div>
        </div>
      </div>
      <div class="one_fifth">
        <div class="team_image">
          <i class="fa fa-search fa-2x"></i>
          <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('team/team-4.jpg') %></a>
          <div class="title">Ajay Parihar<br/><em>- Jr. Ruby On Rails Devloper</em></div>
          <div class="sub_title">2 year experience in Web Application & Front-end development with Ruby On Rails, HTML5/CSS3.</div>
        </div>
      </div>
      <div class="one_fifth">
        <div class="team_image">
          <i class="fa fa-search fa-2x"></i>
          <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><%= image_tag ('team/team-5.png') %></a>
          <div class="title">Gyandipsinh Chauhan<br/><em>- Jr. Ruby On Rails Devloper</em></div>
          <div class="sub_title">1 year experience in Web Application & Front-end development with Ruby On Rails, HTML5/CSS3.</div>
        </div>
      </div>
    </div>
</div><!-- end content area -->


<div class="clearfix mar_top5"></div>
