<div class="joosa top_section">
  <header id="header">
    <div id="trueHeader">
      <div class="wrapper">
        <div class="container">
          <div class="logo_main">
            <a href="index.html" id="logo"></a>
          </div>
          <div class="menu_main">
            <div class="joosa top_links">
              Call Us: <strong>+91-97235 16289 </strong> <a href="#" class="makeap_but">Make an Appointment</a>
            </div>
            <nav id="access" class="access" role="navigation">
              <div id="menu" class="menu">
                <ul id="tiny">
                  <li>
                    <%= link_to "Home",  root_path %>
                  </li>  
                  <li>
                    <a href="#">Layouts <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="http://gsrthemes.com/joosa/layout2/fullwidth/index.html">Creative</a></li>
                      <li><a href="http://gsrthemes.com/joosa/layout3/fullwidth/index.html">Medical</a></li>
                      <li><a href="http://gsrthemes.com/joosa/layout4/fullwidth/index.html">Hosting</a></li>
                      <li><a href="http://gsrthemes.com/joosa/layout5/fullwidth/index.html">One Page</a></li>
                      <li><a href="http://gsrthemes.com/joosa/layout1/fullwidth/index.html">Corporate</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Services <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="about-us-basic.html">Software Development</a></li>
                      <li><a href="about-us-basic.html">Custom Application Development</a></li>
                      <li><a href="about-us-basic.html">Web Development</a></li>
                      <li><a href="about-us-basic.html">Product Development</a></li>
                      <li><a href="about-us-basic.html">APIs Development</a></li>
                      <li><a href="about-us-basic.html">Cloud Services</a></li>
                      <li><a href="about-us-basic.html">Software Maintenance</a></li>
                      <li><a href="about-us-basic.html">Offshore Development Center</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Resources <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li>
                        <%= link_to "Case Study", portfolios_home_index_path %>
                      </li>
                      <li><a href="blog-full-width.html">Blog</a></li>   
                    </ul>
                  </li>
                  <li><a href="#">About Daevon Web <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li>
                        <%= link_to "About Us",  about_home_index_path %>
                      </li>
                      <li>
                        <%= link_to "Our Team",  team_home_index_path %>
                      </li>
                      <li><a href="about-us-basic.html">News and Event</a></li>
                      <li><a href="page-careers.html">Career</a></li>
                      <li><%= link_to "Contact Us",  contact_us_home_index_path %></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div><!-- end nav menu -->
        </div>
      </div>
    </div>
  </header>
</div>