<!DOCTYPE html>
<html>
  <head>
    <title>Daevonweb</title>
    <%= csrf_meta_tags %>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700&amp;subset=latin,latin-ext' type='text/css' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site_wrapper">
  	<%= render 'layouts/header' %>
  
    <%= yield %>

    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
